@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
h1{
    /*para alinear el texto----text-align: center;*/
    text-align: center;
    background: linear-gradient(90deg, rgba(92,123,155,1) 0%, rgba(178,83,131,1) 50%, rgba(0,212,255,1) 100%);
    color:rgb(255, 0, 0);
    font-size: 2.1em ;
}
h2{
    text-align: center;
    color: rgb(210, 105, 30);
    font-size: 2.1em ;
}
p{
    text-align: center;   
}
table{
    font-size: 1.5em ;
    color: rgb(78, 30, 210);    
}
body{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3em;
    background-image: url('../imagenes/colores.webp');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
